.animate-down-bouncy {
  animation: animateDownBouncy 1000ms ease-in-out;
}

@keyframes animateDownBouncy {
  0% {
    transform: translateY(-20px);
    opacity: 0;
    filter: blur(4px);
  }
  30% {
    transform: translateY(10px);
    opacity: 0.7;
    filter: blur(2px);
  }
  50% {
    transform: translateY(-5px);
    opacity: 1;
    filter: blur(0);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

.animate-up-bouncy {
  animation: animateUpBouncy 1000ms ease-in-out;
}

@keyframes animateUpBouncy {
  0% {
    transform: translateY(20px);
    opacity: 0;
    filter: blur(4px);
  }
  30% {
    transform: translateY(-10px);
    opacity: 0.7;
    filter: blur(2px);
  }
  50% {
    transform: translateY(5px);
    opacity: 1;
    filter: blur(0);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}
