@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Fira Code", monospace;
  transition-duration: 250ms;
}

::selection {
  background-color: #ffffff20;
}

.bookmark-icon svg {
  height: 100%;
  width: auto;
}
