@import "https://www.nerdfonts.com/assets/css/webfont.css";

@font-face {
  font-family: "Jetbrains-Mono-Regular-Fixed";
  src: url("../../assets/fonts/JetBrainsMonoNerdFontMono-Regular.ttf") format("truetype");
}

.bookmark-icon svg {
  height: 100%;
  width: auto;
}

.glass-effect {
  background-color: #ffffff20;
  box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  box-sizing: border-box !important;

  backdrop-filter: blur(32px);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

@media (min-height: 600px) {
  .m-padding-bottom {
    padding-bottom: 10rem;
  }
}

.h-bookmark {
  height: 8rem;
}

@media (max-width: 768px) {
  .h-bookmark {
    height: 5rem !important;
  }
}

@media (max-height: 400px) {
  .h-bookmark {
    height: 5rem !important;
  }
}
