@import "../../shared/nerdfont-webfont.css";

@font-face {
  font-family: "Jetbrains-Mono-Regular-Fixed";
  src: url("../../assets/fonts/JetBrainsMonoNerdFontMono-Regular.ttf") format("truetype");
}

html {
  scrollbar-width: none !important;
}

::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}

.top-distance {
  top: 10vh;
}

@media (min-height: 400px) {
  .top-distance {
    top: 20vh;
  }
}

@media (min-height: 600px) {
  .top-distance {
    top: 30vh;
  }
}

.bookmark-icon svg {
  height: 100%;
  width: auto;
}

@media (min-height: 600px) {
  .m-padding-bottom {
    padding-bottom: 10rem;
  }
}

.h-bookmark {
  height: 8rem;
}

@media (max-width: 768px) {
  .h-bookmark {
    height: 5rem !important;
  }
}

@media (max-height: 400px) {
  .h-bookmark {
    height: 5rem !important;
  }

  .visibilty-bookmark-name {
    display: none !important;
  }
}

.visibilty-bookmark-name {
  display: block;
}
