/* fix to prevent border transition */
.bookmark-user-defined-item {
  transition-duration: border 0ms !important;
}

.bookmark-node-ghost-class {
  opacity: 0.25;
}

.bookmark-node-chosen-class {
  opacity: 1 !important;
  border: 2px solid #ec4899;
  box-sizing: border-box;
}

.wallpaper-gallery-ghost-class {
  opacity: 0.25;
}

.wallpaper-gallery-chosen-class {
  opacity: 1 !important;
  background-color: #ec4899;
  padding: 2px;
}

.wallpaper-gallery-item {
  transition: transform 250ms cubic-bezier(0.42, 0, 0.58, 1);
  will-change: transform;
}

#wallpaper-gallery,
#wallpaper-gallery * {
  transition-duration: 0ms;
}

.wallpaper-gallery-item :not(.wallpaper-gallery-item) {
  transition-duration: 250ms !important;
}


/* for sortable animations to work  */
#bookmarks-user-defined-list,
#bookmarks-user-defined-list * {
  transition-duration: 0ms;
}

.bookmark-user-defined-item :not(.bookmark-user-defined-item) {
  transition-duration: 250ms !important;
}

.drop-shadow {
  box-shadow: 0 0 23px rgba(0, 0, 0, 0.5);
}

@keyframes fallDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fallUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.falling-down {
  animation: fallDown 250ms ease-out forwards;
}

.falling-up {
  animation: fallUp 250ms ease-out forwards;
}
